.style-alarma-new {
  transform: scale(1.8); 
  text-align: right; 
  margin-right: 180px; 
  padding-bottom: 10px; 
  cursor:pointer;
}

.style-alarma-switch {
  margin-left: 173px;
  margin-top: -30px;
  background-color: var(--primary-purple);
  border-color: var(--primary-purple);
}

.image-fondo-thumbnail {
  width: 60px;
  margin-left: 275px;
  margin-top: -70px;
  border-radius: 7px;
}
