<div class="settings-container">

    <div class="main-header create-alarma-button-container">
  
      <button
        (click)="linkMenuTop('/ringtones')"
        class="menu-alarma-button"
      >
        Ringtones
        <em style="margin-left: 5px" class="bi bi-check"></em>
      </button>
  
      <button
        (click)="linkMenuTop('/fondos')"
        class="menu-alarma-button-active"
      >
        Fondos
      </button>    
  
      <button
        class="menu-alarma-button"
      >
        Filtros
      </button>
  
      <button
        class="menu-alarma-button"
      >
        Festivos
      </button>
  
      <button
        class="menu-alarma-button"
      >
        Predeterminadas
      </button>
  
      <button
        (click)="linkMenuTop('/settings/sesiones/create')"
        class="menu-alarma-button"
      >
        Salir
        <em style="margin-left: 5px; color: red;" class="bi bi-box-arrow-right"></em>
      </button>
      
    </div>
  
    <form
      (ngSubmit)="linkMenuTop('/fondos')"
      class="alarma-settings-create-form main-shadow"
    >
      <div class="alarma-settings-header"><h2>Listado de Fondos</h2></div>

      <em 
        (click)="linkMenuTop('/settings/fondos/create')"
        class="bi bi-plus-lg style-alarma-new">
        </em>
  
      <div class="item-card-container p-2">  
        <h5>
            Playa
            <em 
                style="margin-left: 150px; color: brown; cursor: pointer"
                class="bi bi-pencil">
            </em>
            <em 
                style="margin-left: 10px; color: brown; cursor: pointer"
                class="bi bi-trash3">
            </em>            
        </h5>
        <span>playa123.jpg</span>
        <img 
              src="assets/playa.jpg" 
              alt="Fondo" 
              class="image-fondo-thumbnail">
        <div class="form-check form-switch">
            <input
                type="checkbox"                    
                class="form-check-input style-alarma-switch"
                id="status"
                formControlName="status"
                style="transform: scale(1.5);"
            />
        </div>
      </div>

      <div class="item-card-container p-2">  
        <h5>
            Cielo
            <em 
                style="margin-left: 150px; color: brown; cursor: pointer"
                class="bi bi-pencil">
            </em>
            <em 
                style="margin-left: 10px; color: brown; cursor: pointer"
                class="bi bi-trash3">
            </em>            
        </h5>
        <span>cielo456.jpg</span>
        <img 
              src="assets/cielo.jpg" 
              alt="Fondo" 
              class="image-fondo-thumbnail">
        <div class="form-check form-switch">
            <input
                type="checkbox"                    
                class="form-check-input style-alarma-switch"
                id="status"
                formControlName="status"
                style="transform: scale(1.5);"
            />
        </div>
      </div>

      <div class="item-card-container p-2">  
        <h5>
            Selva
            <em 
                style="margin-left: 150px; color: brown; cursor: pointer"
                class="bi bi-pencil">
            </em>
            <em 
                style="margin-left: 10px; color: brown; cursor: pointer"
                class="bi bi-trash3">
            </em>            
        </h5>
        <span>selva789.jpg</span>
        <img 
              src="assets/selva.jpg" 
              alt="Fondo" 
              class="image-fondo-thumbnail">
        <div class="form-check form-switch">
            <input
                type="checkbox"                    
                class="form-check-input style-alarma-switch"
                id="status"
                formControlName="status"
                style="transform: scale(1.5);"
            />
        </div>
      </div>

      <div class="pagination-card-container"></div>

    </form>
  </div>
  