.style-alarma-label {
  margin-left: 23px;
  color: var(--font-color-label);
}

.style-alarma-input {
  margin-left: 23px;
  width: 258px;
  border-color: var(--border-color-input);
  color: var(--font-color-input);
}

.create-alarma-button {
  border-radius: 20px;
  background-color: var(--primary-purple);
  color: var(--font-color-primary);
}

.create-alarma-button:hover {
  background-color: var(--secondary-purple);
}
